<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="eng">
<head th:replace="template :: dochead"></head>
<header>
	<h1>Add Item to Database</h1>
</header>

<body>
	<div th:replace="template :: navigation"></div>
	<form method="post">
		Name: <input type="text" name="name" id="name" required/>
		Price: <input type="text" name="price" id="price" step=any required/> 
		Per Pound? <input type="checkbox" name="pLb" id="pLb" value="true"/>
		<br></br>
		PLU (leave blank if not applicable): <input type="text" name="plu" id="plu"/>
		Foodstamps eligible? <input type="checkbox" name="fs" id="fs" value="true"/> 
		<br></br>
		<button type="submit">Submit</button>
	</form>
</body>

<footer th:replace="template :: footer"></footer>

</html>