<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead"></head>
<header>
    <h1>Checkout Items</h1>
</header>
<body>
    <div th:replace="template :: navigation"></div>

    <form th:object="${orders}">
        <input type="number" th:field="*{subTotal}" name="subTotal" id="subTotal"/>
        <input type="number" th:field="*{tax}" name="tax" id="tax"/>
        <input type="number" th:field="*{orderTotal}" name="orderTotal" id="orderTotal"/>
        <button type="submit">Checkout</button>
    </form>

<table>
    <tr th:each="order :${allOrders}">
        <td th:text="${uid}"></td>
        <td th:text="${subTotal}"></td>
        <td th:text="${tax}"></td>
        <td th:text="${orderTotal}"></td>
    </tr>
</table>

</body>
<footer th:replace="template :: footer"></footer>
</html>