<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead"></head>
<header>
    <h1>Checkout Items</h1>
</header>
<body>
<div th:replace="template :: navigation"></div>

<form method="post">
    Select an item to scan:
    <input list="allItems" id="custCart" name="custCart" />
    <datalist id="allItems">
        <option th:each="item : ${cart}" th:label="${item.name}" th:value="${item.uid}">
        </option>
    </datalist>

    <button type="submit">Scan Item</button>
</form>


</body>
<footer th:replace="template :: footer"></footer>
</html>