<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead"></head>
<header>
    <h1>Checkout Items</h1>
</header>
<body>
    <div th:replace="template :: navigation"></div>

    <form method="post">
        Select item to scan:
        <select name="register" id="register">
            <option value="" disabled selected>--</option>
            <option th:each="item : ${cart}"
                    th:value="${item.uid}"
                    th:text="${item.name}"></option>
        </select>
        <input type = "submit" name = "scan" value="Scan Item"/>
        <input type = "submit" name = "bag" value="Bag Item"/>
    </form>

    <table>
        <tr>
            <td><b>Current Order</b></td>
        </tr>
        <tr th:each="item : ${scanned}">
            <td th:text="${item}"></td>
        </tr>
    </table>

    <table>
        <tr>
            <td><b>Items in Bag</b></td>
        </tr>
        <tr th:each="item : ${bagged}">
            <td th:text="${item}"></td>
        </tr>
    </table>

</body>
<footer th:replace="template :: footer"></footer>
</html>