<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead"></head>
<header>
	<h1>Add Items to Cart</h1>
</header>

<body>
	<div th:replace="template :: navigation"></div>
    <form method="post">
        Select an item from the list:
        <input list="allItems" id="shelf" name="shelf" />
            <datalist id="allItems">
                <option th:each="item : ${items}" th:label="${item.name}" th:value="${item.uid}">
                </option>
            </datalist>
        <br>
        <input type = "submit" name = "add" value="Add Item to Cart"/>
        <br>
    </form>

<a href="checkout"><button>Checkout</button></a>

    <form method="post">
        <table>
            <th>Items currently in cart: </th>
            <tr>
            <tr><b>Check box to remove iem</b></tr>
                <td>Item Name</td> <td>Item Count</td> <td>Increase/Decrease Amount</td>
            </tr>
            <tr th:each="entry : ${cart}">
                <td>
<!--                    <input type="checkbox" th:value="${entry.key.uid}" name="markedItem" id="markedItem"/>-->
                    <input type="checkbox" name="markedItem" id="markedItem" th:value="${entry.key.uid}"/>

                    <label for="markedItem" th:text="${entry.key.name}"></label>
                </td>
                <td th:text="${entry.value}"></td>
                <td>
                    <input type="hidden" name="itemId" id="itemId" th:value="${entry.key.uid}"/>
                    <input type="number" name="currCount" id="currCount" value="0"/>
                </td>
            </tr>
        </table>
        <input type = "submit" name = "update" value="Update Cart"/>
    </form>


</body>
<footer th:replace="template :: footer"></footer>
</html>
