<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead"></head>
<header>
	<h1>Add Items to Cart</h1>
</header>

<body>
	<div th:replace="template :: navigation"></div>
    <form method="POST">
        Select an item from the list:
        <input list="allItems" id="shelf" name="shelf" />
        <datalist id="allItems">
        <option th:each="item : ${items}" th:text="${item.name}"
        th:value="${item.uid}"></option>
        </datalist>
        <br>
        <button type="submit">Add Item to Cart</button>
        <br>
    </form>

    <!--<form method="post" action="/removeItem">-->
        <!--Select an item from the cart to remove it:-->
        <!--<input list="cust" id="cart" name="cart" />-->
        <!--<datalist id="cust">-->
            <!--<option th:each="item : ${cart}" th:text="${item.name}"-->
                    <!--th:value="${item.uid}"></option>-->
        <!--</datalist>-->
        <!--<br>-->
        <!--<button type="submit">Remove From Cart</button>-->
    <!--</form>-->

</body>
<footer th:replace="template :: footer"></footer>
</html>
