<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<header>
	<h1>Welcome to the Self Checkout Simulator!</h1>
</header>
<div th:replace="template :: navigation"></div>

<body>
<h2>Items last added:</h2>
	<table>
		<tr>
			<td>Name</td> <td>PLU</td> <td>Price</td><td>Date Added</td>
		</tr>
		<tr th:each="item: ${items}">
			<td th:text="${item.name}"></td>
			<td th:text="${item.plu}"></td>
			<td th:text="${item.price}"></td>
			<!-- <td th:text="${#dates.format(item.datecreated)}"></td> -->
		</tr>
	</table>

</body>

</html>